.formTextArea {
  padding: 10px 12px;
  border: 1px solid var(--border-light);
  border-radius: var(--radius);
  font-size: 0.95rem;
  background-color: var(--secondary-background);
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  font-family: inherit;
  min-height: 120px;
  resize: vertical;

  margin-left: 5px;
  margin-right: 5px;
}

.formTextArea:focus {
  outline: none;
  border-color: var(--primary-hover);
  box-shadow: var(--shadow-form);
}

.formTextArea:hover:not(:focus) {
  border: 1px solid var(--description);
}
