.modal {
  background: var(--secondary-background);
  padding: 20px;
  border-radius: var(--radius);
  width: 400px;
}

.modal-title {
  margin-top: 0;
  margin-bottom: 12px;
}

.modal-form {
  border-bottom: 2px solid var(--primary);
  border-top: 2px solid var(--primary);

  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-height: 70vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 8px;
}
