.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 6px 12px;
  border: none;
  border-radius: var(--radius);
  font-size: 0.85rem;
  cursor: pointer;
  font-weight: 600 !important;
  transition: 0.2s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.primary {
  background-color: var(--primary);
}

.primary:hover:not(:disabled) {
  background-color: var(--primary-hover);
}

.secondary {
  background-color: var(--gray-300);
}

.secondary:focus {
  background-color: var(--gray-600);
}

.secondary:hover:not(:disabled) {
  background-color: var(--gray-400);
}

.danger {
  background-color: #dc2626;
  color: var(--white);
}

.danger:hover:not(:disabled) {
  background-color: #b91c1c;
}

.active {
  background-color: var(--gray-600);
}

.active:hover:not(:disabled) {
  background-color: var(--gray-900);
}
