:root {
}

.custom-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  padding: 10px 16px;
  background: var(--gray-100);
  border: 1px solid var(--gray-300);
  border-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.actions-buttons,
.nav-buttons,
.view-buttons {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
}

.nav-button,
.view-button {
  padding: 6px 12px;
  border: none;
  border-radius: var(--radius);
  font-size: 0.85rem;
  cursor: pointer;
}

.nav-button {
  background: var(--primary);
}

.nav-button:hover {
  background: var(--primary-hover);
}

.view-button {
  background: var(--gray-300);
  color: var(--gray-900);
}

.view-button:hover {
  background: var(--gray-400);
}
