.inputWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.formInput {
  padding: 10px 12px;
  border: 1px solid var(--border-light);
  border-radius: var(--radius);
  font-size: 0.95rem;
  color: var(--main-text-color);
  background-color: var(--secondary-background);
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  font-family: inherit;

  margin-left: 5px;
  margin-right: 5px;
}

.formInput:focus {
  outline: none;
  border-color: var(--primary-hover);
  box-shadow: var(--shadow-form);
}

.formInput:hover:not(:focus) {
  border: 1px solid var(--description);
}

.formError {
  font-size: 0.8rem;
  color: var(--danger);
  font-weight: 500;
}
