.schedule-page {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.schedule-header {
  padding: 10px;
  align-items: center;
  margin-bottom: 16px;
  text-align: center;
}

.calendar-section {
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  width: 80%;
  display: flex;
  justify-content: center;
  border-radius: var(--radius-lg);
}

.calendar-section .rbc-calendar {
  width: 100%;
  display: flex;
  border-radius: var(--radius-lg);
  overflow: hidden;
}

.overview-button:hover {
  background-color: var(--primary-hover);
}

.btn {
  border: none;
  border-radius: var(--radius);
  padding: 6px 10px;
  font-size: 0.9rem;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary);
}

.btn-primary:hover {
  background-color: var(--primary-hover);
}

.btn-secondary {
  background-color: #e5e7eb;
  color: #111827;
}

.btn-secondary:hover {
  background-color: #d1d5db;
  color: #111827;
}

.btn-delete {
  background-color: #dc2626;
  color: #fff;
}

.btn-delete:hover {
  background-color: #bd1616;
}

.schedule-title {
  margin: 0;
}

.rbc-time-header-cell .rbc-today {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
}
.rbc-header {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  background-color: var(--primary);
  border-radius: var(--radius);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.rbc-today {
  background-color: rgba(89, 30, 253, 0.05);
}

.rbc-time-view {
  border-radius: var(--radius);
}

.rbc-time-content {
  background-color: #f7f9fcf1;
}

.rbc-time-view .rbc-event.colored-event {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  color: black !important;
  padding-left: 10px;
  border-radius: var(--radius);
  border: none;
  background: color-mix(in srgb, var(--event-color) 20%, transparent);
}

.rbc-time-view .rbc-event.colored-event .rbc-event-allday {
  position: relative;
}

.rbc-time-view .rbc-event.colored-event::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  background: var(--event-color);
  border-radius: 6px 0 0 6px;
}

.rbc-month-view .rbc-event.colored-event {
  background-color: var(--event-color);
  border-radius: var(--radius);
  border: none;
}
.rbc-date-cell .rbc-button-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.rbc-date-cell .rbc-button-link:hover {
  background-color: var(--primary);
}
