:root {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #f5f5f5;
  --primary: #c1bef1;
  --primary-hover: #9791e5;
  --gray-100: #f7f9fc;
  --gray-200: #f3f4f6;
  --gray-300: #e5e7eb;
  --gray-400: #d1d5db;
  --gray-600: #bfc2c5;
  --gray-900: #696b70;
  --white: #fff;
  --shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
  --radius: 6px;
  --radius-lg: 12px;
}

button {
  font-weight: 600 !important;
  transition: 0.2s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
