:root {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #f5f5f5;
}

button {
  font-weight: 600 !important;
  transition: 0.2s;
}
