.sidebar {
  position: fixed;
  width: auto;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: var(--primary-hover);
  color: var(--secondary-text);
  padding: 0.25rem 0;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  box-shadow: var(--shadow);
}

.sidebar-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.sidebar-links a {
  display: block;
  color: var(--secondary);
  padding: 0.75rem 1rem;
  border-left: 3px solid transparent;
  transition: 0.5s;
}

.sidebar-links a:hover {
  background-color: var(--main-text);
  color: var(--secondary-text);
}

.sidebar-links a.active {
  background-color: var(--main-text);
  color: var(--secondary-text);
  border-left-color: var(--primary-hover);
}
